:root {
    --main-color: #FAF8ED;
    --skin-color: #F9B572;
    --secondary-color: #99B080;
    --accent-color: #748E63;
    --additional-color: #BFCCB5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

nav {
    background-color: var(--skin-color);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--main-color);
    color: var(--skin-color);
}

nav ul li img {
    width: 20px;
    height: 20px;
}

a {
  margin-left: 45px;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: var(--skin-color);
}

.container {
  display: inline-flex;
}

.button_soal {
  width: 20%;
  text-align: center;
}
  
  .chat-container {
    width: 600px;
    margin-left: 110px;
    margin-top: 30px;
    background-color: var(--additional-color);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--additional-color);
  }
  
  .chat-box {
    height: 300px;
    overflow-y: scroll;
  }
  
  .chat-message {
    padding: 10px;
  }
  
  .message {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--main-color);
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid var(--additional-color);
    margin-right: 10px;
  }

  input[type="text"]:hover {
    border: 1px solid var(--accent-color);
  }
  
  .soal  {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--skin-color);
    color: white;
    cursor: pointer;
  }
  
  .soal:hover {
    background-color: var(--secondary-color);
  }
  
  .send {
    background-color: var(--additional-color);
    border: none;
    color: var(--main-color);
    border-radius: 5px;
    height: 40px;
    width: 70px;
  }

  h1 {
    color: var(--skin-color);
    font-weight: bold;
    text-align: center;
  }

nav {
    background-color: var(--skin-color);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--main-color);
    color: var(--skin-color);
}

nav ul li img {
    width: 20px;
    height: 20px;
}
  